<!DOCTYPE html>
<html>
<head>
    <title><% unless yield(:title).empty? %><%= yield :title %> | <% end %>Clusty</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>
<body>
    <div class="container">
        <header>
            <%= render partial: 'application/header' %>
            <%= render partial: 'application/flash' %>
        </header>
        <article>
            <%= yield %>
        <article>
        <footer>
        </footer>
    </div>
</body>
</html>
